<!--include header-->
<%-include('include/_header')%>
    <!-- end include header-->
    <%-include('include/_navbar')%>
        <!--Main Site-->
        <main id="site-main">
            <!--page header--->
            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <div class="filter">
                        <a href="/edit-car"><i class="fa fa-angle-double-left"></i>All Cars</a>
                    </div>
                </div>
            </div>
            <!---end page header-->
            <div class="form-title text-center">
                <h2 class="text-dark">New Car</h2>
                <span class="text-dark">Use the below form to create a new car</span>

                <!--add car form-->
                <%-include('include/_form')%>
                    <!--add car form-->
            </div>
        </main>
        <!-- end main Site -->


        <!--include footer-->
        <%-include('include/_footer') %>
            <!--end include footer-->