<!--include header-->
<%-include('include/_header')%>
    <!--/include header-->
    <%-include('include/_navbar')%>
        <!--Main Site-->
        <main id="site-main">
            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <div class="filter p-3">
                        <a
                          href="/edit-car"
                          style="
                            border-radius: 30px;
                            background-color: #3aafa9;
                            text-decoration: none;
                          "
                          class="p-2 text-light"
                          ><i class="fa fa-angle-double-left"></i>All Cars</a
                        >
                      </div>
                </div>
                <div class="form-title text-center">
                    <h2 class="text-dark">Update Car</h2>
                    <span class="text-dark">Use the below form to update an account</span
              >

<!--form handling-->
<%-include('include/_updateForm')%>
<!--/form handling-->
        </div>
    </main>
    <!--/Main Site -->

    <!--include footer-->
    <%-include('include/_footer')%>
        <!--/include footer-->