<!--Footer Element from _footer.ejs file-->
<footer class="footer">
    <div class="container text-center">
        <span class="text-light">&copy; 2022 Le Auto</span>
    </div>
</footer>
</body>

</html>