<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog bg-light" role="document">
    <div class="modal-dialog" role="document">
      <div class="model-header">
        <h3 class="text-center pt-2">Invoice</h3>
      </div>
      <div class="modal-body" id="bill">
        <p>
          <strong>Total Cars: </strong>
          <span id="total-cars">0</span>
        </p>
        <p>
          <strong>Cost Price: </strong>
          <span id="cost-price">0</span>
        </p>
        <p>
          <strong>VAT: </strong>
          <span id="vat">0</span>
          <br />
          <span style="font-size: 14px; color: gray"
            >* Eco-Friendly car VAT is 10% and Normal car VAT is 23% *
          </span>
        </p>
        <p>
          <strong>Amount Payable: </strong>
          <span id="amount-payable">0</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
