<!--include header-->
<%-include('include/_header')%>
    <!--/include header-->
    <%-include('include/_navbar')%>
        <!--Main Site-->
        <main id="site-main">
            <div class="form-title text-center">
                <h2 class="text-dark">New Car</h2>
                <span class="text-dark">Use the below form to create a new car</span>

            </div>
            <div class="flex-container2">
                <div class="box-nav d-flex justify-between">
                    <a href="/add-car" class="border-shadow">
                        <span class="text-gradient">New Car <i class="fa fa-car"></i></span>
                    </a>
                </div>

                <!--form handling-->
                <form action="/" method="post" class="d-flex2 table-data">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Car</th>
                                <th>Type</th>
                                <th>Fuel</th>
                                <th>Price</th>
                                <th>Eco</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%- include('include/_show')%>
                        </tbody>
                    </table>
                </form>
                <!--/form handling-->
            </div>
        </main>
        <!--/Main Site -->
        <!--include footer-->
        <%-include('include/_footer')%>
            <!--/include footer-->